.search {
  display: flex;
  min-height: 93vh;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.search h1 {
  padding-top: 2rem;
  font-size: 2.3rem;
}

.fav-h1 {
  min-height: 15vh;
}

.inner-card-controles {
  display: flex;
  padding-top: 0.3rem;
}

.inner-card-controles button {
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.25);
  width: 10%;
  font-size: 2.6rem;
}

.inner-card-controles button:hover {
  color: rgba(0, 0, 0, 0.8);
  transform: translateY(-0.2rem);
}

.search-form {
  padding: 2rem 0;
  width: 40%;
  display: flex;
}

.search-bar {
  transition: 0.2s ease-in-out;
  width: 100%;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
}

.search-bar:focus {
  outline: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.8);
}

.movies {
  width: 40%;
}

#movie-title {
  padding: 0;
  font-size: 1.3rem;
  text-align: start;
}

#movie-img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.movies-fav {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.fav-movie {
  display: flex;
  min-width: 100%;
}

.one-movie {
  display: flex;
  min-height: 5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.one-movie:hover {
  background: linear-gradient(to right, white, rgba(120, 120, 120, 0.068));
}

.movie-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.image-container {
  width: 10%;
  display: flex;
}

.title-year-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.title-year-container p {
  text-align: left;
  font-size: 1rem;
}

.title-year-container h1 {
  padding-bottom: 0.3rem;
}

.movie-title-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  width: 90%;
}

.pages {
  display: flex;
  align-items: center;
  min-height: 10vh;
}

.page-button,
.search-button {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  background-color: white;
  min-width: 2.5rem;
  min-height: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0.3rem;
}

.active-button {
  transform: translateY(-0.1rem);
  border-color: black;
  color: black;
}

.search-button {
  transition: 0.2s ease-in-out;
  font-size: 1.3rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.search-button:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 0.1rem solid rgba(0, 0, 0, 0.8);
}

.no-data-image {
  width: 30%;
}
